@charset "utf-8";
/* CSS Document */
.header{
	width：100%;
	height:150px;
}
.footer{
	width：100%;
	height:150px;
}
.wrap{
	position: relative;
}
.wrap .nav_left{
	position: fixed;
  	left: 100px;
  	top: 200px;
	width:150px;
}
.nav_left a{
	text-decoration:none;
}
.wrap .content_main{
	width:900px;
	height:auto;
	margin: 0 250px;
}
.wrap .info_right{
	position: fixed;
  	right: 50px;
  	top: 100px;
}
.content_info{
	width:800px;
	height:auto;
	margin:0 auto;	
}
.content_container{
	width:800px;
	height:350px;
	margin：0 auto;
	overflow:hidden;
	background-color:#F9FAFC;
	
}
.content_title{
	width:100px;
	margin-left:700px;
}