<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Query</title>
    <link href="../public/custombox/dist/custombox.min.css" rel="stylesheet">
    <link href="../public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/angular-material/angular-material.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../public/metisMenu/metisMenu.min.css">
    <!-- sb-admin -->
    <link href="../public/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="./css/query.css">
    <link rel="stylesheet" href="./css/gene_beta1.css">
    <link rel="stylesheet" href="../public/css/nav.css">
    
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="img/logo_black_small.png">
</head>

<body ng-app="queryInfoApp" ng-controller="queryController" ng-init="init()">
    <div id="wrapper" class=".container-fluid">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BioDesigner Dophin</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <button class="btn btn-danger" ng-click="jumpToProject()">Project</button>
                </li>
                <li>
                    <button class="btn btn-danger" ng-click="jumpToGene()">Gene Relationship</button>
                </li>
                <li>
                    <button class="btn btn-danger" ng-click="jumpToSystem()">System</button>
                </li>
                <li class="log-in" ng-if="isLogin" ng-click="loginDialog()">
                    <a href="#" class="sign-up">Log in</a> 
                </li>
                <li ng-if="isLogin">
                    <a class="sign-up" href="../register/register.html">Sign up</a>
                </li>
                <li ng-if="!isLogin" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-user">
                        <li ng-if="!isLogin">
                            <a href="#" ng-click="changePasswordDialog()">
                                <i class="fa fa-gear fa-fw"></i>ChangePassword
                            </a>
                        </li>
                        <li ng-if="!isLogin" class="divider"></li>
                        <li ng-if="!isLogin">
                            <a href="#" ng-click="logoutDialog()">
                                <i class="fa fa-sign-out fa-fw"></i>Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="nav-left">
            <ul class="left-menu">

                <li class="left-li" id="aDescription"><a class="left-a" href="#Description">Description</a></li>
                <li class="left-li" id="aBackground"><a class="left-a" href="#Background">Background</a></li>
                <li class="left-li" id="aAttribution"><a class="left-a" href="#Attribution">Attribution</a></li>
                <li class="left-li" id="aDesign"><a class="left-a" href="#Design">Design</a></li>
                <li class="left-li" id="aHumanPractice"><a class="left-a" href="#HumanPractice">Human Practice</a></li>
                <li class="left-li" id="aResult"><a class="left-a" href="#Result">Result</a></li>
                <li class="left-li" id="aRelated"><a class="left-a" href="#Related">Related</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="wrap col-md-6 col-md-offset-3">
                <div id="content-div" class="content_main">
                    <div>
                        <h1>{{year}}-{{name}}</h1>
                    </div>
                    <div>
                        <div ng-model="track">{{track}}</div>
                        <div ng-model="type">{{type}}</div>
                        <div ng-model="keywords">{{keywords}}</div>
                        <div ng-model="award">{{award}}</div>
                    </div>
                    <div>

                    </div>
                    <div class="content_info" id="Description">
                        <h2>Description</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div ng-class="{'content_container':isMore}" id="description">
                            <p ng-model="description">{{description}}</p>
                        </div>

                    </div>
                    <div>
                        <button ng-if="isMore" ng-click="more()" class="btn btn-default more-btn">
                            <i class="fa fa-chevron-down"></i>more
                        </button>
                        <button ng-if="!isMore" ng-click="packUp()" class="btn btn-default more-btn">
                            <i class="fa fa-chevron-up"></i>pack up
                        </button>
                    </div>

                    <div class="content_info" id="Background">
                        <h2>Background</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div id="background">
                            <p ng-model="background">{{background}}</p>
                        </div>
                    </div>
                    <div class="content_info" id="Attribution">
                        <h2>Attribution</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div id="attribution">
                            <p ng-model="attribution">{{attribution}}</p>
                        </div>
                    </div>
                    <div class="content_info" id="Design">
                        <h2>Design</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div id="design">
                            <p ng-model="design">{{design}}</p>
                        </div>
                    </div>
                    <div class="content_info" id="HumanPractice">
                        <h2>Human Practice</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div id="human_practice">
                            <p ng-model="human_practice">{{human_practice}}</p>
                        </div>
                    </div>
                    <div class="content_info" id="Result">
                        <h2>Result</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div id="result">
                            <p ng-model="result">{{result}}</p>
                        </div>
                    </div>
                    <div class="content_info" id="Related">
                        <h2>Related</h2>
                        <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#333333,strength=10)" width="800px" color=#333333 SIZE=1
                        />
                        <div ng-repeat="re in related">
                            <a ng-href="{{re.link}}" ng-model="re.project_name">{{re.project_name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- log in modal -->
        <div id="login" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="title">Login</h4>
            <div class="text">
                <form class="form-horizontal" role="form" ng-keypress="login_by_keyboard($event,username,password)">
                    <div class="form-group col-md-12">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control login-input" placeholder="User Name" ng-model="username" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control login-input" placeholder="Password" ng-model="password" />
                    </div>
                </form>
                <a href="../register/register.html">
                        Create account
                    </a>
            </div>
            <div class="modal-footer">
                <span ng-if="error" class="error-msg">{{errorMsg}}</span>
                <button type="button" class="btn btn-default" onclick="Custombox.close();">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="log_in(username,password)">Confirm</button>
            </div>
        </div>
        <!--log out modal-->
        <div id="logout" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                    <span>×</span>
                    <span class="sr-only">Close</span>
                </button>
            <h4 class="title">Log Out</h4>
            <div class="text">
                <h3>Are You Sure?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Custombox.close();">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="log_out()">Confirm</button>
            </div>
        </div>
        <!--change password modal-->
        <div id="cgPwd" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                    <span>×</span>
                    <span class="sr-only">Close</span>
                </button>
            <h4 class="title">Change Password</h4>
            <div class="text">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="old password" class="col-sm-2 control-label">Old Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="old password" ng-model="old_password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new password" class="col-sm-2 control-label">New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="col-sm-10 form-control" placeholder="new password" ng-model="new_password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm password" class="col-sm-2 control-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="col-sm-10 form-control" placeholder="confirm password" ng-model="re_password" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Custombox.close();">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="change_password(old_password,new_password,re_password)">Confirm</button>
            </div>
        </div>
        <back-button></back-button>
    </div>

</body>
<script src="../public/custombox/dist/legacy.min.js"></script>
<script src="../public/custombox/dist/custombox.min.js"></script>

<script src="../public/angular/angular.min.js"></script>
<script src="../public/angular-animate/angular-animate.min.js"></script>
<script src="../public/angular-aria/angular-aria.min.js"></script>
<script src="../public/angular-material/angular-material.min.js"></script>

<script src="../public/jquery/dist/jquery.min.js"></script>
<script src="../public/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/metisMenu/metisMenu.min.js"></script>
<script src="../public/sb-admin-2/js/sb-admin-2.min.js"></script>
<script src="./js/query.js"></script>

</html>