@charset "utf-8";
.right-side-bar{
	position: static;
	right:0px;
	padding-right:0;
}
.sidebar{
	padding: 0;
	position: fixed;
	top: 0px;
	bottom: 0;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f8f8f8;
}
.nav-sidebar{
	margin-right: -21px;
	margin-bottom: 20px;
	margin-left: -20px;
}
@media(min-width:768px) {
	.right-side-bar{
		right:-15px;
		padding-right:0;
	}
}
.headerbtn{
	float:right;
}
.modal-demo {
    background-color: #FFF;
    width: 600px;
    border: #000 solid 1px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
    text-align: left;
    display: none;
}
.title {
    padding: 10px 20px 15px 20px;
    line-height: 18px;
    font-size: 18px;
    border-bottom: #CCC solid 1px;
}
.text {
    padding: 0 20px 20px 20px;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.btn-edit{
    float: right;
}
.div_graph{
	background-color: #FFF;
}
 .search-center{
 	margin: 0,auto;
}
.search_input{
	width:500px;
}

.form-control{
	font-size: 16px;
	font-family: "Segoe UI Light";
}
.logo{
	
	margin-left:6px;
} 
.sea{
	float:left;
	margin-left:3px;
	border-radius: 20px;
}
.search_c{
	text-align:center;
	margin-top:11px;
	float:left;
}

em{font-style:normal;}

.main{width:796px;margin:50px auto;font-size:14px; }
.main h2{text-align:center;line-height:60px;color:#555;}

.label-box{width:732px;min-height:30px;padding:20px;border:1px solid #99CCFF;border-top:2px solid #99CCFF;overflow:hidden;border-radius:3px;}
.label-box span{display:inline-block;background:#99CCFF;padding:6px 14px;color:#fff;border-radius:3px;margin:0 3px;}

.select-box{margin-top:10px;overflow:hidden;}
.select-list{height: 50px;background:#fff;padding:10px;border:1px solid ##FFCC99;border:0.1px solid ##ccc;border-radius:3px;}
.select-list span{display:inline-block;padding:5px 14px;font-size:14px;background:#eee;color:#aaa;text-align:center;border-radius:3px;margin:6px 3px;cursor:pointer;}
.select-list .cur{background:#5cb85c;color:#fff;}

.div{
 width: 600px;
}
.list-left{
	width:20%;
	height:100%;
	border:solid 1px #ccc;    
	float:left;
}
.list{
	margin-top:60px;
	background:#fff;
	width:60%;
	text-align:center;
	margin:0 auto;
}
.color{color:black; text-decoration:none;}/*��������*/
.color:visited{color:#000; text-decoration:none;}/*���ʹ�����������*/
.color:hover{color:#3586bc; /* text-decoration:underline; */text-decoration:none;}/*�����ϵ���������*/

.result-title{
	font-size:24px; float:left;
}
.content{float:left;font-size:16px;text-align:left;}
.list-div{
	padding:15px;
	margin:0 auto;
	width:100%;
	height:189px; 
	border:solid 1px #ccc;
	border-radius:30px;
	/* background:#ccc; */
	/* background:#ccaeef; */
	background:##e9efef;
}
.list-div:hover{
	padding:15px;
	width:100%; 
	border:solid 1px #0075a9;
	border-radius:30px;
	/* background:#ccc; */
	/* background:#ccaeef; */
	background:#fcfcfc;
	
}
.word:hover{color:black;}
.right-line{
	margin-top:0px;
	height:6px; 
}
.right{
	z-index:999;
	right:4%;
	position: fixed;
	bottom: 40%;
}
.left{
	z-index:999;
	left:2%;
	position: fixed;
	top: 16%;
	width: 140px;
}

ul,li{list-style: none;	font-family:"Calibri";}
a:link,a:visited{text-decoration: none;}
.listl-l{border-bottom:solid 1px #fcfcfc;margin:40px auto 0 auto;}
.list-l ul li{background-color:#fcfcfc; border:solid 1px #aaa; }
.list-l ul li a{padding-left: 10px;color: #000; font-size:16px; display: block; height:36px;line-height: 36px;position: relative;
}
.list-l ul li .inactive{ background:url(../images/off.png) no-repeat 120px center;}
.list-l ul li .inactives{background:url(../images/on.png) no-repeat 120px center;} 
.list-l ul li ul{display: none;}
.list-l ul li ul li { border-left:0; border-right:0; background-color:#ececec; border-color:#aaa;}
.list-l ul li ul li ul{display: none;}
.list-l ul li ul li a{ padding-left:20px;}
.list-l ul li ul li ul li { background-color:#d6e6f1; border-color:#aaa; }
.last{ background-color:#d6e6f1; border-color:#aaa; }
.list-l ul li ul li ul li a{ color:#316a91; padding-left:30px;}



.line{
	margin-left:10px;
	float:left;
    width:0.4px; 
    height:400px; 
    background:#ccc; 
}
.line_left{
	margin-left:15%;
	float:left;
    width:0.4px; 
    height:100%; 
    background:#ccc; 
}
.list-right{
	margin-top:30px;
	border:solid 1px #aaa;
	border-radius:30px;
	margin-left:40px;
	float:left;	
	background:#fcfcfc;
	width:140px;

}

.recommendation-header{
/* 
	border:solid 2px #ddd;
	border-radius:30px; */
	font-size:16px;
	height:50px;
}
li{
	margin-top:10px;
}
.recommendation{
    margin-top:0px;
    margin-bottom:20px;
	margin-left:25px;;
	float:left;	
}

li{list-style:none;}/* ��Ĭ�ϵĸ�ȥ����Ȼ�������ɫ��Բ���г�һ�ű���ͼƬʹ�ã� */
/* li{background:url(ͼ��ͼƬ·��) no-repeat;} */

.list-li{
	font-size:16px;
	text-align:center;
	font-family:"Calibri";
	padding:3px;
}
.list-li:hover{
	font-size:16px;
	text-align:center;
	font-family:"Calibri";
	/* background:#efefef; */
	border-radius:30px;
	border:solid 1px #24a4ff;
}

.point1{
	height:10px;
	width:10px;
	background-color:#f35762;
	border-radius:30px;
}
.point2{
	height:10px;
	width:10px;
	background-color:#6b9de2;
	border-radius:30px;
}
.point3{
	float:left;	
	height:10px;
	width:10px;
	background-color:#fab735;
	border-radius:30px;
}

.point_1{
	height:6px;
	width:6px;
	background-color:#f35762;
	border-radius:30px;
}
.point_2{
	height:6px;
	width:6px;
	background-color:#6b9de2;
	border-radius:30px;
}
.point_3{
	float:left;	
	height:6px;
	width:6px;
	background-color:#fab735;
	border-radius:30px;
}

.keywords{	float:left;	background:##fff;padding:0px;border:1px solid ##FFCC99;border:0.1px solid ##ccc;border-radius:3px;}
.keywords span{	float:left;margin-left:3px;	display:inline-block;padding:1px 10px;font-size:12px;background:#6b9de2;color:white;text-align:center;border-radius:3px;cursor:pointer;}

.suggestion-bottom{
	height:40px;
	width:69%;
	background-color:##fab735;
}
.s-header{
	font-size:20px;
	float:left;
	font-weight:bold;
}

.s-content{
	width:33%;
	font-size:16px;
	float:left;
	text-align:left;
}



div.zxf_pagediv{
	text-align: center;
	color: #999999;
}
div.zxf_pagediv a{
	text-decoration: none;
	
}
div.zxf_pagediv span,div.zxf_pagediv a{
	display: inline-block;
	box-sizing: border-box;
}
span.disabled{
	height: 35px;
	width: 65px;
	line-height: 35px;
	background: #f2f2f2;
	margin: 0 5px;
}
.current{
	color: #ffffff;
	background: #6b9de2;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0 5 px;
}
.zxfPagenum{
	color: #999999;
	background: #FFFFFF;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dfdfdf;
	margin: 0 5px;
}
.nextpage{
	color: #6b9de2;
	margin: 0 5px;
	border: 1px solid #6b9de2;
}
.nextbtn,.prebtn{
	color: #999999;
	background: #FFFFFF;
	width: 65px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dfdfdf;
}
.zxfinput{
	width: 35px;
	height: 35px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
	margin: 0 12px;
}
.zxfokbtn{
	width: 45px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dfdfdf;
}


.foot-div{
	height:400px;
	width:100%;
}
.end-foot{
	bottom:0;
	height:40px;
	width:100%;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
}