
.wrap .content_main{
	width:900px;
	height:auto;
	margin: 0 auto;
	margin-left:-450px;
	left:50%;
	position: absolute;
}

.main{
	margin-top:20px;
	width:100%;
	height:auto;
    overflow: hidden;
    background-color:##fdfdfd; 
	border: #ccc solid 1px;
	padding:13px;
	border-radius: 20px;
	word-wrap: break-word;
}
.content_container{
	text-align:left;
	word-wrap: break-word;
	margin:0 auto;
	overflow:hidden;
	width:100%;
	max-height:100px;
}
.bothbtn{
	border-color:white;
}
.bothbtn:hover{
	color:blue;
	border-color:white;
	background-color:white;
}
.bothbtn:click{
	border-color:white;
	background-color:white;
}
.more-btn {
	text-align:center;
    margin-top: 10px;
    display: block;
    width: 10%;
}
#back-button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border-width: 0;
    background-color: red;
    border-radius: 25px;
}  

.con-end{
	height:60px;
	background-color:white;
}
